.inner-wrapper {
    height: 22vh;
    
}

.card-wrapper#web {
    background: #e3ead9;
}

.card-wrapper#analog {
    background: #f1dfff;
}

.card-wrapper#gallary {
    background: #f1ead9;
}

.card-wrapper#gui {
    background: #f1f99f;
}

.card-wrapper#marketing {
    background: #ffc3b3;
}

.card-wrapper#robots {
    background: #afaffd;
}
.card-wrapper#crypto {
    background: #b6f2c6;
}
.card-wrapper#more {
    background: #ccffff;
}

.card-wrapper#diet {
    background: #aaedff;
}

.card-wrapper#industry {
    background: #efeeff;
}

.card-wrapper#cuisine {
     background: #ffed99;
}


.card-wrapper {
    padding: 1.2rem 2rem;
    margin: 0.25rem; 
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    transition-property: all;
    
}
.card-wrapper:hover#web {
    background: #dcf2c6;
}

.card-wrapper:hover#crypto {
    background: #f6f2c6;
}

.card-wrapper:hover#marketing {
    background: #e9ccff;
}

.card-wrapper:hover#gui {
    background: #adffaf;
}

.card-wrapper:hover#robots {
    background: #cfb6f2;
}

.card-wrapper:hover#analog {
    background: #fce5e1;
}
.card-wrapper:hover#industry {
    background: #baffe8;
}
.card-wrapper:hover#gallary {
    background: #ffdfdb;
}
.card-wrapper:hover#more {
    background: #f8ffdb;
}
.card-wrapper:hover#cuisine {
    background: #f8ffdb;
}
.card-wrapper:hover#diet {
    background: #f8ffdb;
}
