
.wrapper#home {
    margin-left: 25%;
    text-align: start;
    justify-content: space-around;
    align-items: start;
    margin-right: auto;
    align-content: center;
    position: static;
    text-align: center;
    
}

.card-wrapper#web {
    background: #e3ead9;
}

.card-wrapper#analog {
    background: #f1dfff;
}

.card-wrapper#gallary {
    background: #f1ead9;
}

.card-wrapper#gui {
    background: #f1f99f;
}

.card-wrapper#market {
    background: #ffc3b3;
}

.card-wrapper#robotics {
    background: #afaffd;
}
.card-wrapper#crypto {
    background: #b6f2c6;
}
.card-wrapper#ai {
    background: #ccffff;
}

.card-wrapper#c {
    background: #aaedff;
}

.card-wrapper#industries {
    background: #efeeff;
}

.card-wrapper#finance {
     background: #ffed99;
}


.card-wrapper {
    padding: 1rem 1.85rem;
    margin: .21rem; 
    display: inline-grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1.5fr 1.5fr;
    grid-gap: 0.3rem;
    border-radius: 1px;
    justify-content: space-around;
    text-align: start;
    align-items: start;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    transition-property: all;
    
}

.card-wrapper:hover#web {
    background: #dcf2c6;
}

.card-wrapper:hover#crypto {
    background: #f6f2c6;
}

.card-wrapper:hover#market {
    background: #e9ccff;
}

.card-wrapper:hover#gui {
    background: #adffaf;
}

.card-wrapper:hover#robotics {
    background: #cfb6f2;
}

.card-wrapper:hover#analog {
    background: #fce5e1;
}
.card-wrapper:hover#industries {
    background: #baffe8;
}
.card-wrapper:hover#gallary {
    background: #ffdfdb;
}
.card-wrapper:hover#ai {
    background: #f8ffdb;
}
.card-wrapper:hover#finance {
    background: #f8ffdb;
}
.card-wrapper:hover#c {
    background: #e4ffdb;
}
