* {
    color: black;
    max-width: 1054px;
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline-block;
    float: left;

}
ul li {
    padding: auto;
    margin: auto;
}

.wrapper {
    width: 95%;
    padding: 0.15rem;
    margin:  auto;
}


 h2 {
     display: inline-block;
     margin: 1rem auto;
     padding: 0.56rem;
    float: left;
    
}


button {
    margin: 0.8rem auto;
    border-radius: 5%;
    padding: 0.5rem;
    float: right;
}

