* {
    color: black;
}

ul {
    list-style: none;
    display: inline-block;
}

ul li {
    margin: 0.5rem;
    float: left;
}
.wrapper {
    width: 70%;
    display: block;
    margin: 0rem auto;
}

h1 {
    text-align: right;
    display: inline-block;
    align-items: right;
}
