* {
    color: black;
    max-width: 1054px;
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline-block;
    float: left;

}
ul li {
    margin: 0.5rem;
    float: left;
    display: inline-block;
}

.wrapper {
    width: 77%;
    margin: auto;
}

h1 {
    text-align: right;
    align-items: right;
    float: right;
}
p {
    position: fixed;
    margin: auto;
    width: 66%;
    top: 100px;
}
